<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Reset Password</title>
    <style type="text/css">
      @import
      url("https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap");
      body { margin: 0; padding: 0; background-color: #ecf0f1; color: #000000;
      font-family: "Raleway", sans-serif; } .container { max-width: 600px;
      background-color: #ffffff; margin: auto; border-radius: 0px; overflow:
      hidden; } img { max-width: 100%; height: auto; display: block; margin: 0
      auto; } .header, .footer { background-color: #3b82f6; color: #ffffff;
      text-align: center; padding: 15px 0; } .content { padding: 20px 40px;
      font-size: 14px; } .button { display: inline-block; background-color:
      #3b82f6; color: #ffffff; padding: 10px 20px; text-decoration: none;
      margin: 10px 0; border-radius: 4px; } @media only screen and (max-width:
      620px) { .container { width: 100% !important; } }
    </style>
  </head>
  <body>
    <table
      width="100%"
      cellpadding="0"
      cellspacing="0"
      style="background-color: #ecf0f1"
    >
      <tr>
        <td align="center">
          <div class="container">
            <table width="100%" cellpadding="0" cellspacing="0">
              <tr>
                <td align="center" style="padding: 20px">
                  <img
                    align="center"
                    border="0"
                    src="https://res.cloudinary.com/duoqao4ay/image/upload/v1731689296/jqdp7l9ltaljnydp5mwk.png"
                    alt="image"
                    title="image"
                    style="
                      outline: none;
                      text-decoration: none;
                      -ms-interpolation-mode: bicubic;
                      clear: both;
                      display: inline-block !important;
                      border: none;
                      height: auto;
                      float: none;
                      width: 21%;
                      max-width: 121.8px;
                    "
                    width="121.8"
                    class="v-src-width v-src-max-width"
                  />
                </td>
              </tr>
              <tr>
                <td class="content" style="border-top: 1px solid #d2d2d2"></td>
              </tr>
              <tr>
                <td class="content">
                  <p>
                    Kami menerima permintaan untuk mengatur ulang kata sandi
                    Anda. Jika Anda tidak membuat permintaan ini, abaikan saja
                    email ini.
                  </p>
                </td>
              </tr>
              <tr>
                <td class="content">
                  <p>
                    Jika Anda telah membuat permintaan ini, klik tombol di bawah
                    ini:
                  </p>
                </td>
              </tr>
              <tr>
                <td align="center" style="padding: 10px">
                  <a
                    href="https://vidswift.vercel.app/reset-password?token={{resetToken}}"
                    class="button"
                    style="color: #ffffff; text-decoration: none"
                  >Atur Ulang Kata Sandi</a>
                </td>
              </tr>
              <tr>
                <td align="center" style="padding: 20px">
                  <img
                    align="center"
                    border="0"
                    src="https://res.cloudinary.com/duoqao4ay/image/upload/v1731689298/ufvs6ke7rwnh9iky5kog.jpg"
                    alt="image"
                    title="image"
                    style="
                      outline: none;
                      text-decoration: none;
                      -ms-interpolation-mode: bicubic;
                      clear: both;
                      display: inline-block !important;
                      border: none;
                      height: auto;
                      float: none;
                      width: 90%;
                      max-width: 540px;
                    "
                    width="540"
                    class="v-src-width v-src-max-width"
                  />
                </td>
              </tr>
              <tr>
                <td class="footer">
                  <p>© 2024 VidSwift. All Rights Reserved.</p>
                </td>
              </tr>
            </table>
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>